{{#if ideas}}
<div class="alert alert-success font-weight-bold">
  {{#if user}}
  This is the public book list. Feel free to add books and notes. Since you are logged in, you can also add private
  books.
  {{else}}
  This is the public book list. Feel free to add books and notes. Alternatively, make an account and store your books
  privately.
  {{/if}}
</div>
{{/if}}

{{#each ideas}}
<div class="container card card-body mb-3">
  <div class="row">
    <div class="col-md-3 d-flex align-items-center">
      <img src="{{bookCoverUrl}}" class="img-thumbnail" alt="Book cover of {{title}} by {{author}}">
    </div>
    <div class="col-md-9">
      <h4>{{title}} by {{author}}</h4>
      <p>{{notes}}</p>
      {{!-- <p>{{date}}</p> --}}
      <a href="/ideas/edit/{{id}}" class="btn btn-secondary mb-2 btn-block">EDIT</a>
      <form action="/ideas/{{id}}?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" class="btn btn-danger btn-block">
      </form>
    </div>
  </div>
</div>

{{else}}
<div class="alert alert-danger font-weight-bold">
  There are currently no books on the public list. Feel free to add some. Alternatively, make an account and store your
  books privately.
</div>

{{/each}}
