<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <div class="row d-block text-center mb-3">
        <img class="img-fluid" src="/img/logo.png" alt="Logo for BBR">
      </div>
      <h3 class="text-center mb-3">Account Register</h3>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="firstName">First name</label>
              <input type="text" name="firstName" id="firstName" class="form-control" required placeholder="James"
                value="{{firstName}}">
            </div>
            <div class="col">
              <label for="lastName">Last name</label>
              <input type="text" name="lastName" id="lastName" class="form-control" required placeholder="Smith" value="{{lastName}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" required value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" required value="{{password}}">
        </div>
        <div class="form-group">
          <label for="password2">Confirm password</label>
          <input type="password" name="password2" id="password2" class="form-control" required value="{{password2}}">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>